.nav {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    fixed: top;
}

li {
    float: left;
}

li a {
  font-size: 40px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #c1c9c1;
}
.btn-success {
    position: absolute;
    right: 150px;
    width: 200px;
    height: 50px;
    border: 3px solid #00ffe1;
    background: #60ffec;

}
.btn-fail {
    position: absolute;
    right: 150px;
    width: 200px;
    height: 50px;
    border: 3px solid #ff0a3e;
    background: #ff6082;

}
.fail-div {
  text-align: center;
    right: 150px;
    background: #ff6082;

}
.pass-div {
  text-align: center;
    right: 150px;
    background: #11dd22;

}
.btn-success:hover {
    background-color: #b0f4ec;
    color: black;
    border: 3px solid #8AC007;
}
.btn-fail:hover {
    background-color: #f47a94;
    color: black;
    border: 3px solid #f73b63;
}
.root-main{
  padding: 5px 150px 150px 150px;
}
