
.nav{
    list-style-type: none;
    overflow: hidden;
    line-height:90%;
    text-size: 20px;
    color:#000;
    margin:-17px 0 100% 0 ;
    z-index:1;
    position: fixed;
    background-color: #FFF;
    width: 100%;
}
a {
    text-decoration: none;
    text-size: 20px;
}
ul.nav li:hover {
    background-color: #eff9fc;
}
.bigNav {
    list-style-type: none;
    overflow: hidden;
    background-origin: content-box;
    background: url("pictures/BannerImage (1).jpg") no-repeat right;
    display: block;
    font-style: normal;
    height: 250px;
    color: white;
    border-width:300px;
    border-left: 6px;

}
.homepage {
	height: 700px;
	width: 100%;
	color: white;
	background:url("pictures/ObservatoryMainVivid.jpg") no-repeat center;
	background-position: center 60%;
}
.bigNav h1{
    font-size: 2.1875rem;
    font-weight:100;
    margin: 100px 0 0 175px;
    font-family: "Open Sans","Helvetica Neue","Helvetica",Arial,sans-serif;
}

li {
    float: left;
    line-height:90%
}

li a {
  font-size:20px;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
}

li a:hover:not(.active) {
    background-color: #0000;
}

.active {
   text-shadow:1px 1px 0 #000;
   font-weight: bold;

}
.btn-success {

    width: 200px;

}
.btn-fail {
    position: absolute;
    right: 150px;
    width: 200px;
    height: 50px;
    border: 3px solid #ff0a3e;
    background: #ff6082;

}
.fail-div {
  text-align: center;
    right: 150px;
    background: #ff6082;
}
.pass-div {
  text-align: center;
    right: 150px;
    background: #11dd22;

}
.btn-success:hover {
    color: black;

}
.btn-fail:hover {
    background-color: #f47a94;
    color: black;
    border: 3px solid #f73b63;
}

html {
  background: url("pictures/cover.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-style: normal;
  font-weight: normal;
  font-family: "Open Sans","Helvetica Neue","Helvetica",Arial,sans-serif;
  text-decoration: none;
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.footer {;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
   height:4%;
}

input[type=checkbox] {
    transform: scale(2);
    margin-left: 17px;
    margin-right: 17px;
}
input[disabled] {
    background-color: #0E1119;
}
input[disabled]+label {
    color: darkgray;
}

.dimScreen {
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80; /* Just to keep it at the very top */

    margin: 0;
    padding: 0;
    font-size: 100%;
    text-align: center;
}

.massage {
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
}
