.main-doc {
    display: grid;
    grid-template-columns: auto;
    background-color: #d6e2f3;
    padding: 10px;
    text-align: left;
}
.doc-div {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FDFDFD;
    padding: 20px;
}

ul.doc li {
    padding: 8px;
    margin-left: 35px;
}

.doc-div p {
    margin-left: 35px;
    padding: 10px;
}
