.main-doc {
    display: grid;
    grid-template-columns: auto;
    background-color: #d6e2f3;
    padding: 5px;
    text-align: left;
}
.doc-div {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FDFDFD;
    padding-left: 2%;
}

ul.doc li {
    padding-bottom: 1%;
    margin-left: 35px;
    float: none;
}

.doc-div p {
    margin-left: 35px;
}
