.table th h2 {
	  font-weight: bold;
	  font-size: 2em;
  text-align: left;
  color: #185875;
}

.table td {
	  font-weight: normal;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.table {
	  overflow: hidden;
	  width: 100%;
	  margin: auto;
  display: table;
}
.table-half {
	  width: 40%;
}
.table-space {
	  padding: 3% 0 0 0;
}
.left-table {
	text-align: left;
}
.center-table {
	text-align: left;
}

.table td, .table th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:1%;
  padding-right:1%;
}

/* Background-color of the odd rows */
.table tr:nth-child(odd) {
	  background-color: #D9E3F7;
}

/* Background-color of the even rows */
.table tr:nth-child(even) {
	  background-color: #EFF3F9;
}

.table th {
	  background-color: #5E6F91;
}

.table td:first-child { color: #FB667A; }
tbody { border: 3px solid #000}

.scroldiv {
  margin-top: 5em;
  margin-right: auto;
  overflow-x: scroll;
  width: 1500;
	height: 100%;
  background-color: #EFF3F9;
}
td, th {
    border: 2px solid #dddddd;
    text-align: left;
}

.table-height{
	 max-height:100px;
	 overflow:auto;
}
.table-height-fixed{
	 height:100px;
	 overflow:auto;
}
.width-100{
	width: 100px;
}
.width-150{
	width: 150px;
}
.width-200{
	width: 200px;
}
.width-300{
	width: 300px;
}
.width-400{
	width: 400px;
}




.SATable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

.SATable td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.SATable tr:nth-child(even) {
  background-color: #dddddd;
}

.SATable tr, td, textarea{
	width: 40em;
	height: 5em;
}
