.table th h2 {
	  font-weight: bold;
	  font-size: 2em;
       text-align: left;

}

.table td {
	  font-weight: normal;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.table {
	  overflow: hidden;
	  width: 50%;
	  margin: auto;
      display: table;
      color:black;
}
.table-half {
	  width: 40%;
}
.table-space {
	  padding: 3% 0 0 0;
}
.left-table {
	text-align: left;
}
.center-table {
	text-align: left;
}

.table td, .table th {
    padding: 2% 1%;
}

/* Background-color of the odd rows */
.table tr:nth-child(odd) {
	  background-color: #D9E3F7;
}

/* Background-color of the even rows */
.table tr:nth-child(even) {
	  background-color: #EFF3F9;
}

.table th {
	  background-color: #5E6F91;
}

.table td:first-child { color: #FB667A; }
tbody { border: 3px solid #000}

.scroldiv {
  margin-top: 5em;
  margin-right: auto;
  overflow-x: scroll;
  height: 100%;
  background-color: #EFF3F9;

}
td, th {
    border: 2px solid #dddddd;
    text-align: left;
}

.table-height{
	 max-height:100px;
	 overflow:auto;
}
.table-height-fixed{
	 height:100px;
	 overflow:auto;
}
.width-100{
	width: 100px;
}
.width-50{
	width: 50px;
}
.width-150{
	width: 150px;
}
.width-200{
	width: 200px;
}
.width-300{
	width: 300px;
}
.width-400{
	width: 400px;
}

.SATableDiv{
 margin-top: 2em;
 margin-right: auto;
 overflow-x: scroll;
 height: 100%;
 background-color: #EFF3F9;

}

.stat-table td, .stat-table th {
	padding:1%;
	border: 3px solid #eff4ff;
}

/* Background-color of the odd rows */
.stat-table tr:nth-child(odd) {
	background-color: #eff4ff;
}

/* Background-color of the even rows */
.stat-table tr:nth-child(even) {
	background-color: #efedf9;
	width: 100%
}

.stat-table th {
	background-color: #c4e4ff;
}
.stat-table  {
	border: 3px solid #000;
	background-color: #eff4ff;
	width: 95%;
	height: 90%;

}

.stat-table td:first-child { color: #09004c; }
tbody { border: 3px solid #000}

.stat-item {
	width: 50%;
	text-align: center;
}

.stat-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin: auto auto 30px auto;

}

